.nav-bar{
    background-color: #DBE6FD;
    text-align: center;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 80%;
    margin: 0 auto;
}

.header-container img{
    width:250px;
    height: 70px;
}
.nav-menu a{
    margin: 20px;
    text-decoration: none;
    font-weight: 700;
    font-size: large;
    color: #293B5F;
}

@media only screen and (max-width: 700px) {
    .header-container {
      flex-direction: column;
      padding-bottom: 10px;
    }
    .nav-menu a{
        font-size: medium;
        margin: 10px;
        font-weight: 500;
    }
  }